lombok.accessors.chain = true
lombok.sneakyThrows.flagUsage = warning
lombok.anyConstructor.addConstructorProperties = true

# Copy the Qualifier annotations from the instance variables to the constructor
lombok.copyableAnnotations += org.checkerframework.checker.nullness.qual.Nullable
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy

lombok.addLombokGeneratedAnnotation = true
