lombok.accessors.chain = true
lombok.sneakyThrows.flagUsage = warning
lombok.anyConstructor.addConstructorProperties = true

# Copy the Qualifier annotations from the instance variables to the constructor
lombok.copyableAnnotations += org.checkerframework.checker.nullness.qual.Nullable
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy

lombok.addLombokGeneratedAnnotation = true

lombok.log.custom.declaration = com.util.logging.wrapper.Log com.util.logging.LogFactory.getLogger(TYPE)
